.button {
    background-color: #cf3290;
    padding: 18px 54px;
    border-color: transparent;
    color: white;
    cursor: pointer;
  }
  .button-30{
    width: 25%;
    padding: 12px 0px;
  }
  .button:hover {
    background-color: #ffc820;
  }